@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';
@tailwind utilities;

@theme {
    --font-primary: 'Inter', sans-serif;
}

[x-cloak] {
    @apply hidden;
}

* {
    @apply box-border font-primary;
}

a {
    @apply cursor-pointer;
}

.btn {
    @apply bg-black text-white px-4 lg:px-4 inline-flex items-center justify-center border text-lg transition-colors duration-200 py-1 cursor-pointer w-fit rounded-xl;
}

.btn:hover {
    @apply bg-white text-black border-zinc-500 shadow-md;
}

.link {
    @apply underline hover:no-underline inline;
}

html {
    @apply text-base;
}

body {
    @apply flex flex-col min-h-screen m-0 bg-zinc-100;
}

main {
    @apply mb-16 lg:mb-20;
}

button {
    @apply cursor-pointer;
}

input[type=text],
input[type=number] {
    @apply border hover:border-zinc-500 focus:border-zinc-500 outline-none bg-zinc-100 border-zinc-300 px-4 py-2 focus:bg-white hover:bg-white focus:hover:shadow-md;
}